:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

@websocket_xrui_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-vmess
}
reverse_proxy @websocket_xrui_vmess unix//etc/caddy/vmess


@websocket_xrui_vless {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-vless
}
reverse_proxy @websocket_xrui_vless unix//etc/caddy/vless

@websocket_xrui_trojan {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-trojan
}
reverse_proxy @websocket_xrui_trojan unix//etc/caddy/trojan

@websocket_xrui_ss {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-ss
}
reverse_proxy @websocket_xrui_ss 127.0.0.1:4234

@websocket_xrui_socks {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-socks
}
reverse_proxy @websocket_xrui_socks 127.0.0.1:5234
